[Unit]
Description=tsk-node server service
After=network.target mariadb.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=your_user
Restart=always
WorkingDirectory=/path/to/project/dir
ExecStart=/path/to/project/dir/bin/tsk-nodes-server serve
SyslogIdentifier=tsk-node-server

# vim: filetype=systemd
